# Exploring indicators

This notebook explores the existence of Yi Peng's indicators in ABS and id_population sources.
Then we will try to segment by type and see if we can extrapolate the data.

## Function definitions and django manage

In [2]:
import os

In [4]:
import pandas
import seaborn as sns
import matplotlib.pyplot as plt

import os
import pandas as pd

os.chdir('../../deciml_django/')

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'deciml.settings')

from deciml.apps.db.models import *
from deciml.apps.common.utils import get_actuals

In [5]:
def sources_that_contain_indicator(indicator):
    """
    indicator should be the minimum you want to find. indicator='Hoc' would
    match both Hockey and ChOcOlate.
    """
    df = pd.DataFrame(Indicator.objects.filter(indicator_info__name__icontains=indicator)\
                               .values('indicator_info__id',
                                       'indicator_info__name', 
                                       'indicator_info__description',
                                       'source__id'))
    
    df = df.drop_duplicates()
    diff_sources = df.source__id.unique()
    diff_ind = df.indicator_info__name.unique()
    
    print('* Different indicators found ({ndi}): {di}'.format(ndi=len(diff_ind), di=diff_ind))
    print('* Different sources found ({nds}): {ds}'.format(nds=len(diff_sources), ds=diff_sources))
    return df

In [6]:
def indicators_from_source(source):
    df = pd.DataFrame(Indicator.objects.filter(source__id=source)\
                               .distinct('indicator_info__name')\
                               .values('indicator_info__name', 
                                       'indicator_info__description'))
    return df

In [7]:
def values_by_indicator_and_source(source, indicator):

    df = pd.DataFrame(

           Actual.objects.filter(indicator__source__id=source,
                                 indicator__indicator_info__name=indicator)\
                 .values('date', 'value', 'indicator__location__name')
    )
    
    return df

#### Target indicators

- [x] state population (ID_POPUL:Population, ABS:Population)
    * Poor time depth
- [x] city population (ID_POPUL:Population --> Description is wrong)
- [x] GDP (ABS:Gross domestic product)
    * Whole state
- [x] household income (ABS:Gross Disposable Income)
    * Whole state
- [ ] household indebtedness

#### Extra indicators

- [X] Unemployment Tate (ABS:unemployment rate)

## Exploring indicators and sources

We want to check if Yi Peng's indicators are available in several sources. Then we will check which sources have data about the vacancy/occupation, the cap_rate/yield or the specialty sales.

### Indicators from ID_POPUL and ABS

In [8]:
indicators_from_source('ID_POPUL')

           indicator_info__description                 indicator_info__name
0         Average people per household               Average household size
1     Percentage of dwelling occupancy              Dwelling occupancy rate
2                  Number of dwellings                            Dwellings
3                 Number of households                           Households
4  Number of persons living in a state                           Population
5  Population in non private dwellings  Population in non private dwellings

In [9]:
indicators_from_source('ABS')

,indicator_info__description,indicator_info__name
0,total value of approved service sector buildings,building approved
1,gross value of service sector businesses,business gross
2,total value of income by service sector busine...,business income
3,value lending to service sector businesses,business lending
4,Female to male ratio of people living in a state,Female to Male ratio
5,Household gross disposable income,Gross Disposable Income
6,Gross domestic product,Gross domestic product
7,Gross State Product,Gross State Product
8,Average number of persons that live per household,Household Size Average
9,Number of persons moving into/out of a country...,Net Overseas Migration
10,New inward migration rate,New inward migration
11,Number of Dwelling Units Approved in New Resid...,New residential building approved
12,Value of Dwelling Units Approved in New Reside...,New residential building values
13,Number of persons living in a state,Population
14,Number of persons born outside of a country pe...,Population Born Overseas
15,Number of persons per squared unit living in a...,Population Density
16,Value of Residential Building Work Commenced,Residential building work commenced
17,Value of Residential Building Work Done,Residential building work done value
18,Turnover of local retail trade at point of sa,Retail Turnover
19,Forecasts for the quarterly average and annual...,unemployment rate
20,persons in white collar jobs employed,white collar employed

In [10]:
#Population by state
values_by_indicator_and_source('ABS', 'Population')

          date               indicator__location__name      value
0   2015-12-31               New South Wales Australia  7616168.0
1   2016-12-31               New South Wales Australia  7732858.0
2   2017-12-31               New South Wales Australia  7867936.0
3   2018-12-31               New South Wales Australia  7988241.0
4   2013-12-31               New South Wales Australia  7404032.0
5   2014-12-31               New South Wales Australia  7508353.0
6   2013-12-31                      Victoria Australia  5772669.0
7   2014-12-31                      Victoria Australia  5894917.0
8   2015-12-31                      Victoria Australia  6022322.0
9   2016-12-31                      Victoria Australia  6173172.0
10  2017-12-31                      Victoria Australia  6321606.0
11  2018-12-31                      Victoria Australia  6460675.0
12  2013-12-31                    Queensland Australia  4652824.0
13  2014-12-31                    Queensland Australia  4719653.0
14  2015-12-31                    Queensland Australia  4777692.0
15  2016-12-31                    Queensland Australia  4845152.0
16  2017-12-31                    Queensland Australia  4927629.0
17  2018-12-31                    Queensland Australia  5011216.0
18  2013-12-31               South Australia Australia  1671488.0
19  2014-12-31               South Australia Australia  1686945.0
20  2015-12-31               South Australia Australia  1700668.0
21  2016-12-31               South Australia Australia  1712843.0
22  2017-12-31               South Australia Australia  1723923.0
23  2018-12-31               South Australia Australia  1736422.0
24  2013-12-31             Western Australia Australia  2486944.0
25  2014-12-31             Western Australia Australia  2517608.0
26  2015-12-31             Western Australia Australia  2540672.0
27  2016-12-31             Western Australia Australia  2555978.0
28  2017-12-31             Western Australia Australia  2574193.0
29  2018-12-31             Western Australia Australia  2595192.0
30  2013-12-31                      Tasmania Australia   512231.0
31  2014-12-31                      Tasmania Australia   513621.0
32  2015-12-31                      Tasmania Australia   515117.0
33  2016-12-31                      Tasmania Australia   517514.0
34  2017-12-31                      Tasmania Australia   522410.0
35  2018-12-31                      Tasmania Australia   528201.0
36  2013-12-31            Northern Territory Australia   241722.0
37  2014-12-31            Northern Territory Australia   242894.0
38  2015-12-31            Northern Territory Australia   244692.0
39  2016-12-31            Northern Territory Australia   245678.0
40  2017-12-31            Northern Territory Australia   247517.0
41  2018-12-31            Northern Territory Australia   247327.0
42  2013-12-31  Australian Capital Territory Australia   383257.0
43  2014-12-31  Australian Capital Territory Australia   388799.0
44  2015-12-31  Australian Capital Territory Australia   395813.0
45  2016-12-31  Australian Capital Territory Australia   403104.0
46  2017-12-31  Australian Capital Territory Australia   412025.0
47  2018-12-31  Australian Capital Territory Australia   420960.0
48  2013-12-31             Other Territories Australia     2962.0
49  2014-12-31             Other Territories Australia     2896.0
50  2015-12-31             Other Territories Australia     2851.0
51  2016-12-31             Other Territories Australia     4608.0
52  2017-12-31             Other Territories Australia     4621.0
53  2018-12-31             Other Territories Australia     4626.0

In [11]:
#Population by city
values_by_indicator_and_source('ID_POPUL', 'Population').sort_values(by='date')

            date         indicator__location__name     value
2239  2008-06-30           SOUTH BURNETT Australia   30583.0
1062  2008-06-30                 GLENELG Australia   20020.0
252   2008-06-30                BALLARAT Australia   89531.0
2283  2008-06-30          SOUTHERN DOWNS Australia   33451.0
1076  2008-06-30               GLENORCHY Australia   44542.0
247   2008-06-30  AUGUSTA MARGARET RIVER Australia   11522.0
2591  2008-06-30             WAGGA WAGGA Australia   60329.0
1084  2008-06-30              GOLD COAST Australia  481569.0
1095  2008-06-30           GOLDEN PLAINS Australia   17456.0
2272  2008-06-30        SOUTH WEST GROUP Australia  340806.0
1106  2008-06-30             GOONDIWINDI Australia   10605.0
1117  2008-06-30                GOSNELLS Australia  101907.0
2261  2008-06-30             SOUTH PERTH Australia   42135.0
1128  2008-06-30                GOULBURN Australia   27166.0
230   2008-06-30               ASHBURTON Australia    8480.0
1149  2008-06-30                GRIFFITH Australia   24817.0
1058  2008-06-30               GLADSTONE Australia   55425.0
1040  2008-06-30                  GINGIN Australia    4646.0
2294  2008-06-30      SOUTHERN GRAMPIANS Australia   16869.0
1029  2008-06-30           GEORGES RIVER Australia  135287.0
930   2008-06-30          EAST GIPPSLAND Australia   41416.0
941   2008-06-30             EUROBODALLA Australia   36301.0
285   2008-06-30                 BANYULE Australia  120580.0
2327  2008-06-30             STRATHBOGIE Australia    9552.0
2580  2008-06-30                 VINCENT Australia   31155.0
952   2008-06-30               FAIRFIELD Australia  190654.0
964   2008-06-30              FEDERATION Australia   12468.0
1150  2008-06-30         GROW SOUTH EAST Australia  419257.0
2316  2008-06-30             STONNINGTON Australia   96841.0
274   2008-06-30                 BALONNE Australia    4786.0
...          ...                               ...       ...
1075  2018-06-30               GLENORCHY Australia   47636.0
899   2018-06-30          DERWENT VALLEY Australia   10290.0
665   2018-06-30                   CASEY Australia  340419.0
2348  2018-06-30             STRATHFIELD Australia   45143.0
878   2018-06-30                  DARWIN Australia   84613.0
691   2018-06-30                   CBRJO Australia  227876.0
2425  2018-06-30  SYDNEY EASTERN SUBURBS Australia  287343.0
702   2018-06-30       CENTRAL COAST NSW Australia  342047.0
713   2018-06-30           CENTRAL COAST Australia   21904.0
2414  2018-06-30                   SWRED Australia   24149.0
724   2018-06-30                CESSNOCK Australia   59101.0
735   2018-06-30           CHARLES STURT Australia  117382.0
745   2018-06-30         CHARTERS TOWERS Australia   11850.0
747   2018-06-30         CLARENCE VALLEY Australia   51647.0
2403  2018-06-30                    SWAN Australia  143374.0
768   2018-06-30                COCKBURN Australia  112165.0
779   2018-06-30           COFFS HARBOUR Australia   76551.0
2392  2018-06-30              SUTHERLAND Australia  229213.0
790   2018-06-30             COLAC OTWAY Australia   21503.0
801   2018-06-30                    COOK Australia    4445.0
812   2018-06-30             CORANGAMITE Australia   16140.0
823   2018-06-30                   COWRA Australia   12767.0
829   2018-06-30            CRADLE COAST Australia  111954.0
2370  2018-06-30          SUNSHINE COAST Australia  319922.0
845   2018-06-30              CUMBERLAND Australia  236893.0
856   2018-06-30              DANDARAGAN Australia    3259.0
867   2018-06-30                 DAREBIN Australia  161609.0
2359  2018-06-30                 SUBIACO Australia   17106.0
889   2018-06-30                 DENMARK Australia    6154.0
2810  2018-06-30             YASS VALLEY Australia   16953.0

[2811 rows x 3 columns]

In [12]:
#GDP by state??
values_by_indicator_and_source('ABS', 'Gross domestic product')

          date indicator__location__name      value
0   1977-12-01                 Australia   520030.0
1   1976-12-01                 Australia   513066.0
2   1975-12-01                 Australia   491687.0
3   1974-12-01                 Australia   482157.0
4   1973-12-01                 Australia   474983.0
5   1972-12-01                 Australia   452270.0
6   1971-12-01                 Australia   443965.0
7   1970-12-01                 Australia   427620.0
8   1969-12-01                 Australia   400444.0
9   1968-12-01                 Australia   375292.0
10  1967-12-01                 Australia   356644.0
11  1966-12-01                 Australia   332266.0
12  1965-12-01                 Australia   323316.0
13  1964-12-01                 Australia   307801.0
14  2018-12-01                 Australia  1837567.0
15  2017-12-01                 Australia  1787327.0
16  2016-12-01                 Australia  1745743.0
17  2015-12-01                 Australia  1698544.0
18  2014-12-01                 Australia  1657752.0
19  2013-12-01                 Australia  1615089.0
20  2012-12-01                 Australia  1581295.0
21  2011-12-01                 Australia  1522301.0
22  2010-12-01                 Australia  1481348.0
23  2009-12-01                 Australia  1446823.0
24  2008-12-01                 Australia  1420062.0
25  2007-12-01                 Australia  1383066.0
26  2006-12-01                 Australia  1325183.0
27  2005-12-01                 Australia  1288846.0
28  2004-12-01                 Australia  1252793.0
29  2003-12-01                 Australia  1201377.0
30  2002-12-01                 Australia  1170127.0
31  2001-12-01                 Australia  1123216.0
32  2000-12-01                 Australia  1094744.0
33  1999-12-01                 Australia  1062469.0
34  1998-12-01                 Australia  1017245.0
35  1997-12-01                 Australia   971370.0
36  1996-12-01                 Australia   929026.0
37  1995-12-01                 Australia   891931.0
38  1994-12-01                 Australia   867274.0
39  1993-12-01                 Australia   826827.0
40  1992-12-01                 Australia   795779.0
41  1991-12-01                 Australia   775876.0
42  1990-12-01                 Australia   783786.0
43  1989-12-01                 Australia   772190.0
44  1988-12-01                 Australia   738051.0
45  1987-12-01                 Australia   708654.0
46  1986-12-01                 Australia   675016.0
47  1985-12-01                 Australia   660998.0
48  1984-12-01                 Australia   629293.0
49  1983-12-01                 Australia   589893.0
50  1982-12-01                 Australia   593765.0
51  1981-12-01                 Australia   592577.0
52  1980-12-01                 Australia   569067.0
53  1979-12-01                 Australia   553222.0
54  1978-12-01                 Australia   531515.0
55  1963-12-01                 Australia   290031.0
56  1962-12-01                 Australia   272960.0
57  1961-12-01                 Australia   258960.0
58  1960-12-01                 Australia   258865.0
59  1959-12-01                 Australia   125539.0

In [13]:
# Gross Disposable Income by state??
values_by_indicator_and_source('ABS', 'Gross Disposable Income')

          date indicator__location__name      value
0   2002-06-01                 Australia  1137030.0
1   2001-06-01                 Australia  1062416.0
2   2000-06-01                 Australia   984253.0
3   1999-06-01                 Australia   925488.0
4   1998-06-01                 Australia   883062.0
5   1997-06-01                 Australia   849097.0
6   1996-06-01                 Australia   803289.0
7   1995-06-01                 Australia   752868.0
8   1994-06-01                 Australia   708298.0
9   1993-06-01                 Australia   679594.0
10  1992-06-01                 Australia   658893.0
11  1991-06-01                 Australia   649434.0
12  1990-06-01                 Australia   624659.0
13  2018-06-01                 Australia  2760313.0
14  2017-06-01                 Australia  2674779.0
15  2016-06-01                 Australia  2612899.0
16  2015-06-01                 Australia  2552845.0
17  2014-06-01                 Australia  2446949.0
18  2013-06-01                 Australia  2336308.0
19  2012-06-01                 Australia  2275718.0
20  2011-06-01                 Australia  2147729.0
21  2010-06-01                 Australia  1985840.0
22  2009-06-01                 Australia  1923312.0
23  2008-06-01                 Australia  1774775.0
24  2007-06-01                 Australia  1610144.0
25  2006-06-01                 Australia  1470577.0
26  2005-06-01                 Australia  1385358.0
27  2004-06-01                 Australia  1279892.0
28  2003-06-01                 Australia  1180891.0

In [14]:
# Unemployment rate by state
values_by_indicator_and_source('ABS', 'unemployment rate')

            date    indicator__location__name     value
0     2014-12-01                    Australia  6.100007
1     2014-11-01                    Australia  6.297957
2     2014-10-01                    Australia  6.381043
3     2014-09-01                    Australia  6.225912
4     2014-08-01                    Australia  6.091151
5     2014-07-01                    Australia  6.173284
6     2014-06-01                    Australia  6.049167
7     2014-05-01                    Australia  5.927412
8     2014-04-01                    Australia  5.794500
9     2014-03-01                    Australia  5.863455
10    2014-02-01                    Australia  5.908909
11    2014-01-01                    Australia  5.931733
12    2013-12-01                    Australia  5.899368
13    2013-11-01                    Australia  5.797514
14    2013-10-01                    Australia  5.834052
15    2013-09-01                    Australia  5.710085
16    2013-07-01                    Australia  5.621000
17    2013-06-01                    Australia  5.697464
18    2013-05-01                    Australia  5.609784
19    2013-04-01                    Australia  5.581131
20    2013-03-01                    Australia  5.632428
21    2013-02-01                    Australia  5.426888
22    2013-01-01                    Australia  5.384528
23    2012-12-01                    Australia  5.431350
24    2012-11-01                    Australia  5.257020
25    2012-10-01                    Australia  5.417596
26    2012-09-01                    Australia  5.491368
27    2012-08-01                    Australia  5.144665
28    2012-07-01                    Australia  5.173407
29    2012-06-01                    Australia  5.165234
...          ...                          ...       ...
3435  1982-01-01  Western Australia Australia  7.043967
3436  1981-12-01  Western Australia Australia  6.833227
3437  1981-10-01  Western Australia Australia  6.141391
3438  1981-09-01  Western Australia Australia  6.559059
3439  1981-08-01  Western Australia Australia  6.215809
3440  1981-07-01  Western Australia Australia  5.602178
3441  1981-06-01  Western Australia Australia  5.639616
3442  1981-05-01  Western Australia Australia  5.858467
3443  1981-04-01  Western Australia Australia  5.452414
3444  1981-03-01  Western Australia Australia  5.959664
3445  1981-02-01  Western Australia Australia  5.658421
3446  1981-01-01  Western Australia Australia  5.861811
3447  1980-12-01  Western Australia Australia  6.166330
3448  1980-11-01  Western Australia Australia  5.636839
3449  1980-10-01  Western Australia Australia  6.268534
3450  1980-09-01  Western Australia Australia  6.026737
3451  1980-08-01  Western Australia Australia  6.244397
3452  1980-07-01  Western Australia Australia  6.103461
3453  1980-06-01  Western Australia Australia  6.388643
3454  1980-05-01  Western Australia Australia  6.537888
3455  1980-04-01  Western Australia Australia  6.404880
3456  1980-03-01  Western Australia Australia  6.441898
3457  1980-02-01  Western Australia Australia  7.100746
3458  1980-01-01  Western Australia Australia  7.091582
3459  1979-11-01  Western Australia Australia  7.271347
3460  1979-10-01  Western Australia Australia  7.868502
3461  1979-09-01  Western Australia Australia  7.216421
3462  1979-08-01  Western Australia Australia  7.297816
3463  1979-07-01  Western Australia Australia  7.573855
3464  1979-06-01  Western Australia Australia  6.882589

[3465 rows x 3 columns]

In [15]:
values_by_indicator_and_source('ABS', 'unemployment rate').indicator__location__name.unique()

array(['Australia', 'New South Wales Australia', 'Queensland Australia',
       'South Australia Australia', 'Tasmania Australia',
       'Victoria Australia', 'Western Australia Australia'], dtype=object)

### Who has vacancy data (Or occupation)?

In [16]:
_ = sources_that_contain_indicator('vac')

* Different indicators found (18): ['Total Vacancy Grade Premium' 'Vacancy Rate Grade Premium'
 'Total Vacancy' 'Vacancy Rate' 'Total Vacancy Grade A'
 'Vacancy Rate Grade A' 'Total Vacancy Grade B' 'Vacancy Rate Grade B'
 'Total Vacancy Grade C' 'Vacancy Rate Grade C' 'Total Vacancy Grade D'
 'Vacancy Rate Grade D' 'Total Vacancy Secondary Grade'
 'Vacancy Rate Secondary Grade' 'Total Vacancy Overall'
 'Vacancy Rate Overall' 'Specialty Shops Vacant' 'VACANCY']
* Different sources found (2): ['JLL' 'STOCKLAND']

In [17]:
_

,indicator_info__description,indicator_info__id,indicator_info__name,source__id
0,Total Vacancy Grade Premium,TOTAL_VAC_PREMIUM,Total Vacancy Grade Premium,JLL
1,Vacancy Rate Grade Premium,TOTAL_VAC_RATE_PREMIUM,Vacancy Rate Grade Premium,JLL
2,Total Vacancy,TOTAL_VACANCY,Total Vacancy,JLL
3,Vacancy Rate,VACANCY_RATE,Vacancy Rate,JLL
4,Total Vacancy Grade A,TOTAL_VACANCY_A_GRADE,Total Vacancy Grade A,JLL
5,Vacancy Rate Grade A,VACANCY_RATE_A_GRADE,Vacancy Rate Grade A,JLL
6,Total Vacancy Grade B,TOTAL_VACANCY_B_GRADE,Total Vacancy Grade B,JLL
7,Vacancy Rate Grade B,VACANCY_RATE_B_GRADE,Vacancy Rate Grade B,JLL
8,Total Vacancy Grade C,TOTAL_VACANCY_C_GRADE,Total Vacancy Grade C,JLL
9,Vacancy Rate Grade C,VACANCY_RATE_C_GRADE,Vacancy Rate Grade C,JLL
10,Total Vacancy Grade D,TOTAL_VACANCY_D_GRADE,Total Vacancy Grade D,JLL
11,Vacancy Rate Grade D,VACANCY_RATE_D_GRADE,Vacancy Rate Grade D,JLL
12,Total Vacancy Secondary Grade,TOTAL_VACANCY_SEC_GRADE,Total Vacancy Secondary Grade,JLL
13,Vacancy Rate Secondary Grade,VACANCY_RATE_SEC_GRADE,Vacancy Rate Secondary Grade,JLL
14,Total Vacancy Overall,TOTAL_VACANCY_OVERALL,Total Vacancy Overall,JLL
15,Vacancy Rate Overall,VACANCY_RATE_OVERALL,Vacancy Rate Overall,JLL
78,,Specialty_Shops_Vacant,Specialty Shops Vacant,JLL
106,,VACANCY,VACANCY,STOCKLAND

In [18]:
_ = sources_that_contain_indicator('occ')

* Different indicators found (11): ['occupation rate' 'specialty occupancy cost' 'Dwelling occupancy rate'
 'Occupied Stock Grade Premium' 'Occupied Stock' 'Occupied Stock Grade A'
 'Occupied Stock Grade B' 'Occupied Stock Grade C'
 'Occupied Stock Grade D' 'Occupied Stock Secondary Grade'
 'Occupied Stock Overall']
* Different sources found (5): ['GPT' 'ID_POPUL' 'STOCKLAND' 'VICINITY' 'JLL']

In [19]:
_

,indicator_info__description,indicator_info__id,indicator_info__name,source__id
0,occupation rate,OCC_RATE,occupation rate,GPT
13,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,GPT
70,Percentage of dwelling occupancy,DWELLING_OCC_RATE,Dwelling occupancy rate,ID_POPUL
198,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,STOCKLAND
246,occupation rate,OCC_RATE,occupation rate,VICINITY
292,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,VICINITY
573,Occupied Stock Grade Premium,OCCUPIED_STCK_PREMIUM,Occupied Stock Grade Premium,JLL
574,Occupied Stock,OCCUPIED_STOCK,Occupied Stock,JLL
575,Occupied Stock Grade A,OCCUPIED_STCK_A_GRADE,Occupied Stock Grade A,JLL
576,Occupied Stock Grade B,OCCUPIED_STCK_B_GRADE,Occupied Stock Grade B,JLL
577,Occupied Stock Grade C,OCCUPIED_STCK_C_GRADE,Occupied Stock Grade C,JLL
578,Occupied Stock Grade D,OCCUPIED_STCK_D_GRADE,Occupied Stock Grade D,JLL
579,Occupied Stock Secondary Grade,OCCUPIED_STCK_SEC_GRADE,Occupied Stock Secondary Grade,JLL
580,Occupied Stock Overall,OCCUPIED_STCK_OVERALL,Occupied Stock Overall,JLL

### Who has specialty data?

In [20]:
_ = sources_that_contain_indicator('specialty')

* Different indicators found (9): ['specialty occupancy cost' 'specialty sales' 'Prime Rents Specialty Rent'
 'Prime Rents Average Specialty Rental Growth' 'Specialty Shops Vacant'
 'Super-Prime Rents Average Specialty Rental Growth'
 'Super-Prime Rents Specialty Rent' 'Specialty Rent'
 'Average Specialty Rental Growth']
* Different sources found (5): ['GPT' 'STOCKLAND' 'VICINITY' 'SCENTRE' 'JLL']

In [21]:
_

,indicator_info__description,indicator_info__id,indicator_info__name,source__id
0,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,GPT
18,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,STOCKLAND
66,costs related to occupying a space in specialt...,SPECIALTY_OCC_COST,specialty occupancy cost,VICINITY
228,sales in specialty retail,SPECIALTY_SALES,specialty sales,GPT
246,sales in specialty retail,SPECIALTY_SALES,specialty sales,STOCKLAND
288,sales in specialty retail,SPECIALTY_SALES,specialty sales,VICINITY
335,sales in specialty retail,SPECIALTY_SALES,specialty sales,SCENTRE
492,,Prime_Rents_Specialty_Rent,Prime Rents Specialty Rent,JLL
497,,Prime_Rents_Average_Specialty_Rental_Gr,Prime Rents Average Specialty Rental Growth,JLL
502,,Specialty_Shops_Vacant,Specialty Shops Vacant,JLL
530,,Super-Prime_Rents_Average_Specialty_Ren,Super-Prime Rents Average Specialty Rental Growth,JLL
535,,Super-Prime_Rents_Specialty_Rent,Super-Prime Rents Specialty Rent,JLL
540,,Specialty_Rent,Specialty Rent,JLL
560,,Average_Specialty_Rental_Growth,Average Specialty Rental Growth,JLL

### Who has cap_rate data  (also yield)?

In [22]:
_ = sources_that_contain_indicator('cap')

* Different indicators found (6): ['capitalisation rate' 'Capital Value' 'Capital Value Growth q-o-q'
 'Capital Value Growth y-o-y' 'Capital Value Indicator Prime Grade'
 'Capital Value Indicator']
* Different sources found (5): ['GPT' 'STOCKLAND' 'VICINITY' 'SCENTRE' 'JLL']

In [23]:
_

,indicator_info__description,indicator_info__id,indicator_info__name,source__id
0,net operating income of a property divided by ...,CAP_RATE,capitalisation rate,GPT
50,net operating income of a property divided by ...,CAP_RATE,capitalisation rate,STOCKLAND
158,net operating income of a property divided by ...,CAP_RATE,capitalisation rate,VICINITY
221,net operating income of a property divided by ...,CAP_RATE,capitalisation rate,SCENTRE
366,Capital Value,CAPITAL_VAL,Capital Value,JLL
367,Capital Value Growth q-o-q,CAPITAL_VAL_GRTH_QOQ,Capital Value Growth q-o-q,JLL
368,Capital Value Growth y-o-y,CAPITAL_VAL_GRTH_YOY,Capital Value Growth y-o-y,JLL
369,Capital Value Indicator Prime Grade,CAPITAL_VAL_IND_PRIME,Capital Value Indicator Prime Grade,JLL
386,,Capital_Value_Indicator,Capital Value Indicator,JLL

In [24]:
_ = sources_that_contain_indicator('yield')

* Different indicators found (10): ['Equivalent Yield Upper Prime Grade' 'Equivalent Yield Lower Prime Grade'
 'Equivalent Average Yield Prime Grade'
 'Equivalent Yield Upper Secondary Grade'
 'Equivalent Yield Lower Secondary Grade'
 'Equivalent Average Yield Secondary Grade' 'Lower Yield'
 'Mid-Point Yield' 'Upper Yield' 'Median Yield']
* Different sources found (1): ['JLL']

In [25]:
_

,indicator_info__description,indicator_info__id,indicator_info__name,source__id
0,Equivalent Yield Upper Prime Grade,EQ_YIELD_UPPER_PRIME,Equivalent Yield Upper Prime Grade,JLL
5,Equivalent Yield Lower Prime Grade,EQ_YIELD_LOWER_PRIME,Equivalent Yield Lower Prime Grade,JLL
10,Equivalent Average Yield Prime Grade,EQ_AVG_YIELD_PRIME,Equivalent Average Yield Prime Grade,JLL
15,Equivalent Yield Upper Secondary Grade,EQ_YIELD_UPPER_SEC,Equivalent Yield Upper Secondary Grade,JLL
20,Equivalent Yield Lower Secondary Grade,EQ_YIELD_LOWER_SEC,Equivalent Yield Lower Secondary Grade,JLL
25,Equivalent Average Yield Secondary Grade,EQ_AVG_YIELD_SEC,Equivalent Average Yield Secondary Grade,JLL
30,,Lower_Yield,Lower Yield,JLL
57,,Mid-Point_Yield,Mid-Point Yield,JLL
73,,Upper_Yield,Upper Yield,JLL
100,,Median_Yield,Median Yield,JLL

## Extracting the relevant data

Vicinity, stockland y GPT tienen también datos de housing y offices (aparte de retail), solo nos interesa retail. Mirar la variable folder_name.

llamar get_actuals para sacar las cosas de jll.

Segmentar por regional/sub_regional/cvd.