# Exploring indicators

This notebook explores the existence of Yi Peng's indicators in ABS and id_population sources.
Then we will try to segment by type and see if we can extrapolate the data.

## Function definitions and django manage

In [1]:
import pandas
import seaborn as sns
import matplotlib.pyplot as plt

import os
import pandas as pd

os.chdir('../deciml_django/')

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'deciml.settings')

from deciml.apps.db.models import *
from deciml.apps.common.utils import get_actuals

In [2]:
def sources_that_contain_indicator(indicator):
    """
    indicator should be the minimum you want to find. indicator='Hoc' would
    match both Hockey and ChOcOlate.
    """
    df = pd.DataFrame(Indicator.objects.filter(indicator_info__name__icontains=indicator)\
                               .values('indicator_info__id',
                                       'indicator_info__name', 
                                       'indicator_info__description',
                                       'source__id'))
    
    df = df.drop_duplicates()
    diff_sources = df.source__id.unique()
    diff_ind = df.indicator_info__name.unique()
    
    print('* Different indicators found ({ndi}): {di}'.format(ndi=len(diff_ind), di=diff_ind))
    print('* Different sources found ({nds}): {ds}'.format(nds=len(diff_sources), ds=diff_sources))
    return df

In [3]:
def indicators_from_source(source):
    df = pd.DataFrame(Indicator.objects.filter(source__id=source)\
                               .distinct('indicator_info__name')\
                               .values('indicator_info__name', 
                                       'indicator_info__description'))
    return df

In [4]:
def values_by_indicator_and_source(source, indicator):

    df = pd.DataFrame(

           Actual.objects.filter(indicator__source__id=source,
                                 indicator__indicator_info__name=indicator)\
                 .values('date', 'value', 'indicator__location__name')
    )
    
    return df

#### Target indicators

- [x] state population (ID_POPUL:Population, ABS:Population)
    * Poor time depth
- [x] city population (ID_POPUL:Population --> Description is wrong)
- [x] GDP (ABS:Gross domestic product)
    * Whole state
- [x] household income (ABS:Gross Disposable Income)
    * Whole state
- [ ] household indebtedness

#### Extra indicators

- [X] Unemployment Tate (ABS:unemployment rate)

## Exploring indicators and sources

We want to check if Yi Peng's indicators are available in several sources. Then we will check which sources have data about the vacancy/occupation, the cap_rate/yield or the specialty sales.

### Indicators from ID_POPUL and ABS

In [5]:
indicators_from_source('ID_POPUL')

                  indicator_info__name          indicator_info__description
0               Average household size         Average people per household
1              Dwelling occupancy rate     Percentage of dwelling occupancy
2                            Dwellings                  Number of dwellings
3                           Households                 Number of households
4                           Population  Number of persons living in a state
5  Population in non private dwellings  Population in non private dwellings

In [6]:
indicators_from_source('ABS')

,indicator_info__name,indicator_info__description
0,building approved,total value of approved service sector buildings
1,business gross,gross value of service sector businesses
2,business income,total value of income by service sector busine...
3,business lending,value lending to service sector businesses
4,Female to Male ratio,Female to male ratio of people living in a state
5,Gross Disposable Income,Household gross disposable income
6,Gross domestic product,Gross domestic product
7,Gross State Product,Gross State Product
8,Household Size Average,Average number of persons that live per household
9,Net Overseas Migration,Number of persons moving into/out of a country...
10,New inward migration,New inward migration rate
11,New residential building approved,Number of Dwelling Units Approved in New Resid...
12,New residential building values,Value of Dwelling Units Approved in New Reside...
13,Population,Number of persons living in a state
14,Population Born Overseas,Number of persons born outside of a country pe...
15,Population Density,Number of persons per squared unit living in a...
16,Residential building work commenced,Value of Residential Building Work Commenced
17,Residential building work done value,Value of Residential Building Work Done
18,Retail Turnover,Turnover of local retail trade at point of sa
19,unemployment rate,Forecasts for the quarterly average and annual...
20,white collar employed,persons in white collar jobs employed

In [7]:
#Population by state
values_by_indicator_and_source('ABS', 'Population')

          date      value               indicator__location__name
0   2015-12-31  7616168.0               New South Wales Australia
1   2016-12-31  7732858.0               New South Wales Australia
2   2017-12-31  7867936.0               New South Wales Australia
3   2018-12-31  7988241.0               New South Wales Australia
4   2013-12-31  7404032.0               New South Wales Australia
5   2014-12-31  7508353.0               New South Wales Australia
6   2013-12-31  5772669.0                      Victoria Australia
7   2014-12-31  5894917.0                      Victoria Australia
8   2015-12-31  6022322.0                      Victoria Australia
9   2016-12-31  6173172.0                      Victoria Australia
10  2017-12-31  6321606.0                      Victoria Australia
11  2018-12-31  6460675.0                      Victoria Australia
12  2013-12-31  4652824.0                    Queensland Australia
13  2014-12-31  4719653.0                    Queensland Australia
14  2015-12-31  4777692.0                    Queensland Australia
15  2016-12-31  4845152.0                    Queensland Australia
16  2017-12-31  4927629.0                    Queensland Australia
17  2018-12-31  5011216.0                    Queensland Australia
18  2013-12-31  1671488.0               South Australia Australia
19  2014-12-31  1686945.0               South Australia Australia
20  2015-12-31  1700668.0               South Australia Australia
21  2016-12-31  1712843.0               South Australia Australia
22  2017-12-31  1723923.0               South Australia Australia
23  2018-12-31  1736422.0               South Australia Australia
24  2013-12-31  2486944.0             Western Australia Australia
25  2014-12-31  2517608.0             Western Australia Australia
26  2015-12-31  2540672.0             Western Australia Australia
27  2016-12-31  2555978.0             Western Australia Australia
28  2017-12-31  2574193.0             Western Australia Australia
29  2018-12-31  2595192.0             Western Australia Australia
30  2013-12-31   512231.0                      Tasmania Australia
31  2014-12-31   513621.0                      Tasmania Australia
32  2015-12-31   515117.0                      Tasmania Australia
33  2016-12-31   517514.0                      Tasmania Australia
34  2017-12-31   522410.0                      Tasmania Australia
35  2018-12-31   528201.0                      Tasmania Australia
36  2013-12-31   241722.0            Northern Territory Australia
37  2014-12-31   242894.0            Northern Territory Australia
38  2015-12-31   244692.0            Northern Territory Australia
39  2016-12-31   245678.0            Northern Territory Australia
40  2017-12-31   247517.0            Northern Territory Australia
41  2018-12-31   247327.0            Northern Territory Australia
42  2013-12-31   383257.0  Australian Capital Territory Australia
43  2014-12-31   388799.0  Australian Capital Territory Australia
44  2015-12-31   395813.0  Australian Capital Territory Australia
45  2016-12-31   403104.0  Australian Capital Territory Australia
46  2017-12-31   412025.0  Australian Capital Territory Australia
47  2018-12-31   420960.0  Australian Capital Territory Australia
48  2013-12-31     2962.0             Other Territories Australia
49  2014-12-31     2896.0             Other Territories Australia
50  2015-12-31     2851.0             Other Territories Australia
51  2016-12-31     4608.0             Other Territories Australia
52  2017-12-31     4621.0             Other Territories Australia
53  2018-12-31     4626.0             Other Territories Australia

In [8]:
#Population by city
values_by_indicator_and_source('ID_POPUL', 'Population').sort_values(by='date')

            date     value indicator__location__name
2239  2008-06-30   30583.0   SOUTH BURNETT Australia
1062  2008-06-30   20020.0         GLENELG Australia
252   2008-06-30   89531.0        BALLARAT Australia
2283  2008-06-30   33451.0  SOUTHERN DOWNS Australia
1076  2008-06-30   44542.0       GLENORCHY Australia
...          ...       ...                       ...
856   2018-06-30    3259.0      DANDARAGAN Australia
867   2018-06-30  161609.0         DAREBIN Australia
2359  2018-06-30   17106.0         SUBIACO Australia
889   2018-06-30    6154.0         DENMARK Australia
2810  2018-06-30   16953.0     YASS VALLEY Australia

[2811 rows x 3 columns]

In [9]:
#GDP by state??
values_by_indicator_and_source('ABS', 'Gross domestic product')

          date      value indicator__location__name
0   1977-12-01   520030.0                 Australia
1   1976-12-01   513066.0                 Australia
2   1975-12-01   491687.0                 Australia
3   1974-12-01   482157.0                 Australia
4   1973-12-01   474983.0                 Australia
5   1972-12-01   452270.0                 Australia
6   1971-12-01   443965.0                 Australia
7   1970-12-01   427620.0                 Australia
8   1969-12-01   400444.0                 Australia
9   1968-12-01   375292.0                 Australia
10  1967-12-01   356644.0                 Australia
11  1966-12-01   332266.0                 Australia
12  1965-12-01   323316.0                 Australia
13  1964-12-01   307801.0                 Australia
14  2018-12-01  1837567.0                 Australia
15  2017-12-01  1787327.0                 Australia
16  2016-12-01  1745743.0                 Australia
17  2015-12-01  1698544.0                 Australia
18  2014-12-01  1657752.0                 Australia
19  2013-12-01  1615089.0                 Australia
20  2012-12-01  1581295.0                 Australia
21  2011-12-01  1522301.0                 Australia
22  2010-12-01  1481348.0                 Australia
23  2009-12-01  1446823.0                 Australia
24  2008-12-01  1420062.0                 Australia
25  2007-12-01  1383066.0                 Australia
26  2006-12-01  1325183.0                 Australia
27  2005-12-01  1288846.0                 Australia
28  2004-12-01  1252793.0                 Australia
29  2003-12-01  1201377.0                 Australia
30  2002-12-01  1170127.0                 Australia
31  2001-12-01  1123216.0                 Australia
32  2000-12-01  1094744.0                 Australia
33  1999-12-01  1062469.0                 Australia
34  1998-12-01  1017245.0                 Australia
35  1997-12-01   971370.0                 Australia
36  1996-12-01   929026.0                 Australia
37  1995-12-01   891931.0                 Australia
38  1994-12-01   867274.0                 Australia
39  1993-12-01   826827.0                 Australia
40  1992-12-01   795779.0                 Australia
41  1991-12-01   775876.0                 Australia
42  1990-12-01   783786.0                 Australia
43  1989-12-01   772190.0                 Australia
44  1988-12-01   738051.0                 Australia
45  1987-12-01   708654.0                 Australia
46  1986-12-01   675016.0                 Australia
47  1985-12-01   660998.0                 Australia
48  1984-12-01   629293.0                 Australia
49  1983-12-01   589893.0                 Australia
50  1982-12-01   593765.0                 Australia
51  1981-12-01   592577.0                 Australia
52  1980-12-01   569067.0                 Australia
53  1979-12-01   553222.0                 Australia
54  1978-12-01   531515.0                 Australia
55  1963-12-01   290031.0                 Australia
56  1962-12-01   272960.0                 Australia
57  1961-12-01   258960.0                 Australia
58  1960-12-01   258865.0                 Australia
59  1959-12-01   125539.0                 Australia

In [10]:
# Gross Disposable Income by state??
values_by_indicator_and_source('ABS', 'Gross Disposable Income')

          date      value indicator__location__name
0   2002-06-01  1137030.0                 Australia
1   2001-06-01  1062416.0                 Australia
2   2000-06-01   984253.0                 Australia
3   1999-06-01   925488.0                 Australia
4   1998-06-01   883062.0                 Australia
5   1997-06-01   849097.0                 Australia
6   1996-06-01   803289.0                 Australia
7   1995-06-01   752868.0                 Australia
8   1994-06-01   708298.0                 Australia
9   1993-06-01   679594.0                 Australia
10  1992-06-01   658893.0                 Australia
11  1991-06-01   649434.0                 Australia
12  1990-06-01   624659.0                 Australia
13  2018-06-01  2760313.0                 Australia
14  2017-06-01  2674779.0                 Australia
15  2016-06-01  2612899.0                 Australia
16  2015-06-01  2552845.0                 Australia
17  2014-06-01  2446949.0                 Australia
18  2013-06-01  2336308.0                 Australia
19  2012-06-01  2275718.0                 Australia
20  2011-06-01  2147729.0                 Australia
21  2010-06-01  1985840.0                 Australia
22  2009-06-01  1923312.0                 Australia
23  2008-06-01  1774775.0                 Australia
24  2007-06-01  1610144.0                 Australia
25  2006-06-01  1470577.0                 Australia
26  2005-06-01  1385358.0                 Australia
27  2004-06-01  1279892.0                 Australia
28  2003-06-01  1180891.0                 Australia

In [11]:
# Unemployment rate by state
values_by_indicator_and_source('ABS', 'unemployment rate')

            date     value    indicator__location__name
0     2014-12-01  6.100007                    Australia
1     2014-11-01  6.297957                    Australia
2     2014-10-01  6.381043                    Australia
3     2014-09-01  6.225912                    Australia
4     2014-08-01  6.091151                    Australia
...          ...       ...                          ...
3460  1979-10-01  7.868502  Western Australia Australia
3461  1979-09-01  7.216421  Western Australia Australia
3462  1979-08-01  7.297816  Western Australia Australia
3463  1979-07-01  7.573855  Western Australia Australia
3464  1979-06-01  6.882589  Western Australia Australia

[3465 rows x 3 columns]

In [12]:
values_by_indicator_and_source('ABS', 'unemployment rate').indicator__location__name.unique()

array(['Australia', 'New South Wales Australia', 'Queensland Australia',
       'South Australia Australia', 'Tasmania Australia',
       'Victoria Australia', 'Western Australia Australia'], dtype=object)

### Who has vacancy data (Or occupation)?

In [23]:
_ = sources_that_contain_indicator('vac')

* Different indicators found (17): ['Total Vacancy Grade Premium' 'Vacancy Rate Grade Premium'
 'Total Vacancy' 'Vacancy Rate' 'Total Vacancy Grade A'
 'Vacancy Rate Grade A' 'Total Vacancy Grade B' 'Vacancy Rate Grade B'
 'Total Vacancy Grade C' 'Vacancy Rate Grade C' 'Total Vacancy Grade D'
 'Vacancy Rate Grade D' 'Total Vacancy Secondary Grade'
 'Vacancy Rate Secondary Grade' 'Total Vacancy Overall'
 'Vacancy Rate Overall' 'Specialty Shops Vacant']
* Different sources found (1): ['JLL']

In [24]:
_

             indicator_info__name    indicator_info__description source__id
0     Total Vacancy Grade Premium    Total Vacancy Grade Premium        JLL
1      Vacancy Rate Grade Premium     Vacancy Rate Grade Premium        JLL
2                   Total Vacancy                  Total Vacancy        JLL
3                    Vacancy Rate                   Vacancy Rate        JLL
4           Total Vacancy Grade A          Total Vacancy Grade A        JLL
5            Vacancy Rate Grade A           Vacancy Rate Grade A        JLL
6           Total Vacancy Grade B          Total Vacancy Grade B        JLL
7            Vacancy Rate Grade B           Vacancy Rate Grade B        JLL
8           Total Vacancy Grade C          Total Vacancy Grade C        JLL
9            Vacancy Rate Grade C           Vacancy Rate Grade C        JLL
10          Total Vacancy Grade D          Total Vacancy Grade D        JLL
11           Vacancy Rate Grade D           Vacancy Rate Grade D        JLL
12  Total Vacancy Secondary Grade  Total Vacancy Secondary Grade        JLL
13   Vacancy Rate Secondary Grade   Vacancy Rate Secondary Grade        JLL
14          Total Vacancy Overall          Total Vacancy Overall        JLL
15           Vacancy Rate Overall           Vacancy Rate Overall        JLL
78         Specialty Shops Vacant                                       JLL

In [25]:
_ = sources_that_contain_indicator('occ')

* Different indicators found (11): ['occupation rate' 'specialty occupancy cost' 'Dwelling occupancy rate'
 'Occupied Stock Grade Premium' 'Occupied Stock' 'Occupied Stock Grade A'
 'Occupied Stock Grade B' 'Occupied Stock Grade C'
 'Occupied Stock Grade D' 'Occupied Stock Secondary Grade'
 'Occupied Stock Overall']
* Different sources found (5): ['GPT' 'ID_POPUL' 'STOCKLAND' 'JLL' 'VICINITY']

In [15]:
_

,indicator_info__name,indicator_info__description,source__id
0,occupation rate,occupation rate,GPT
13,specialty occupancy cost,costs related to occupying a space in specialt...,GPT
70,Dwelling occupancy rate,Percentage of dwelling occupancy,ID_POPUL
198,specialty occupancy cost,costs related to occupying a space in specialt...,STOCKLAND
246,Occupied Stock Grade Premium,Occupied Stock Grade Premium,JLL
247,Occupied Stock,Occupied Stock,JLL
248,Occupied Stock Grade A,Occupied Stock Grade A,JLL
249,Occupied Stock Grade B,Occupied Stock Grade B,JLL
250,Occupied Stock Grade C,Occupied Stock Grade C,JLL
251,Occupied Stock Grade D,Occupied Stock Grade D,JLL
252,Occupied Stock Secondary Grade,Occupied Stock Secondary Grade,JLL
253,Occupied Stock Overall,Occupied Stock Overall,JLL
285,occupation rate,occupation rate,VICINITY
331,specialty occupancy cost,costs related to occupying a space in specialt...,VICINITY

### Who has specialty data?

In [16]:
_ = sources_that_contain_indicator('specialty')

* Different indicators found (9): ['specialty occupancy cost' 'specialty sales' 'Prime Rents Specialty Rent'
 'Prime Rents Average Specialty Rental Growth' 'Specialty Shops Vacant'
 'Super-Prime Rents Average Specialty Rental Growth'
 'Super-Prime Rents Specialty Rent' 'Specialty Rent'
 'Average Specialty Rental Growth']
* Different sources found (5): ['GPT' 'STOCKLAND' 'VICINITY' 'SCENTRE' 'JLL']

In [17]:
_

,indicator_info__name,indicator_info__description,source__id
0,specialty occupancy cost,costs related to occupying a space in specialt...,GPT
18,specialty occupancy cost,costs related to occupying a space in specialt...,STOCKLAND
66,specialty occupancy cost,costs related to occupying a space in specialt...,VICINITY
223,specialty sales,sales in specialty retail,GPT
241,specialty sales,sales in specialty retail,STOCKLAND
283,specialty sales,sales in specialty retail,SCENTRE
325,specialty sales,sales in specialty retail,VICINITY
482,Prime Rents Specialty Rent,,JLL
492,Prime Rents Average Specialty Rental Growth,,JLL
502,Specialty Shops Vacant,,JLL
558,Super-Prime Rents Average Specialty Rental Growth,,JLL
568,Super-Prime Rents Specialty Rent,,JLL
578,Specialty Rent,,JLL
618,Average Specialty Rental Growth,,JLL

### Who has cap_rate data  (also yield)?

In [32]:
_ = sources_that_contain_indicator('cap')

* Different indicators found (6): ['capitalisation rate' 'Capital Value' 'Capital Value Growth q-o-q'
 'Capital Value Growth y-o-y' 'Capital Value Indicator Prime Grade'
 'Capital Value Indicator']
* Different sources found (5): ['GPT' 'STOCKLAND' 'JLL' 'SCENTRE' 'VICINITY']

In [33]:
_

,indicator_info__id,indicator_info__name,indicator_info__description,source__id
0,CAP_RATE,capitalisation rate,net operating income of a property divided by ...,GPT
50,CAP_RATE,capitalisation rate,net operating income of a property divided by ...,STOCKLAND
158,CAPITAL_VAL,Capital Value,Capital Value,JLL
159,CAPITAL_VAL_GRTH_QOQ,Capital Value Growth q-o-q,Capital Value Growth q-o-q,JLL
160,CAPITAL_VAL_GRTH_YOY,Capital Value Growth y-o-y,Capital Value Growth y-o-y,JLL
161,CAPITAL_VAL_IND_PRIME,Capital Value Indicator Prime Grade,Capital Value Indicator Prime Grade,JLL
178,CAP_RATE,capitalisation rate,net operating income of a property divided by ...,SCENTRE
221,CAP_RATE,capitalisation rate,net operating income of a property divided by ...,VICINITY
380,Capital_Value_Indicator,Capital Value Indicator,,JLL

In [29]:
_ = sources_that_contain_indicator('yield')

* Different indicators found (10): ['Equivalent Yield Upper Prime Grade' 'Equivalent Yield Lower Prime Grade'
 'Equivalent Average Yield Prime Grade'
 'Equivalent Yield Upper Secondary Grade'
 'Equivalent Yield Lower Secondary Grade'
 'Equivalent Average Yield Secondary Grade' 'Lower Yield'
 'Mid-Point Yield' 'Upper Yield' 'Median Yield']
* Different sources found (1): ['JLL']

In [30]:
_

,indicator_info__name,indicator_info__description,source__id
0,Equivalent Yield Upper Prime Grade,Equivalent Yield Upper Prime Grade,JLL
5,Equivalent Yield Lower Prime Grade,Equivalent Yield Lower Prime Grade,JLL
10,Equivalent Average Yield Prime Grade,Equivalent Average Yield Prime Grade,JLL
15,Equivalent Yield Upper Secondary Grade,Equivalent Yield Upper Secondary Grade,JLL
20,Equivalent Yield Lower Secondary Grade,Equivalent Yield Lower Secondary Grade,JLL
25,Equivalent Average Yield Secondary Grade,Equivalent Average Yield Secondary Grade,JLL
30,Lower Yield,,JLL
84,Mid-Point Yield,,JLL
116,Upper Yield,,JLL
170,Median Yield,,JLL

## Extracting the relevant data

In [6]:
get_stactuals(cursor=None, where={'indicator__source_id': 'JLL'}, columns=['value', 'date', 'indicator_id', 'indicator__source_id'], use_django_orm=True)

,indicator_id,date,value_change,error_code,st_processed,af_processed,folder_name,update_date,value,indicator__source_id
0,3947,1986-09-23,NaN,0.0,False,True,Office,2019-12-15 14:05:39.648309+00:00,4875.652174,JLL
1,3947,1980-01-01,NaN,0.0,False,True,Office,2019-12-15 14:05:39.648309+00:00,1590.000000,JLL
2,3947,1980-01-02,NaN,0.0,False,True,Office,2019-12-15 14:05:39.648309+00:00,1592.197802,JLL
3,3947,1980-01-03,NaN,0.0,False,True,Office,2019-12-15 14:05:39.648309+00:00,1594.395604,JLL
4,3947,1980-01-04,NaN,0.0,False,True,Office,2019-12-15 14:05:39.648309+00:00,1596.593407,JLL
...,...,...,...,...,...,...,...,...,...,...
1200907,9950,2013-10-23,NaN,128.0,False,True,Retail,2020-01-03 09:59:16.021078+00:00,0.075000,JLL
1200908,9950,2013-10-24,NaN,128.0,False,True,Retail,2020-01-03 09:59:16.021078+00:00,0.075000,JLL
1200909,9950,2013-10-25,NaN,128.0,False,True,Retail,2020-01-03 09:59:16.021078+00:00,0.075000,JLL
1200910,9950,2013-10-26,NaN,128.0,False,True,Retail,2020-01-03 09:59:16.021078+00:00,0.075000,JLL
1200911,9950,2013-10-27,NaN,128.0,False,True,Retail,2020-01-03 09:59:16.021078+00:00,0.075000,JLL

In [8]:
get_actuals??

Vicinity, stockland y GPT tienen también datos de housing y offices (aparte de retail), solo nos interesa retail. Mirar la variable folder_name.

llamar get_actuals para sacar las cosas de jll.

Segmentar por regional/sub_regional/cvd.